<div md-theme="docs-dark" ng-if="$ctrl.order.length">
    <md-content layout="column" layout-padding>
        <h1 class="md-display-1">Заказ</h1>
        <div layout-gt-xs="row" layout-align="start center" layout-wrap>
            <md-card flex="45" layout="column" ng-repeat="item in $ctrl.order">
                <md-card-header>
                    <md-card-avatar class="example-header-image">

                        <img class="md-user-avatar" ng-src="{{item.image}}" alt="image caption">
                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-title">{{item.title}}</span>
                    </md-card-header-text>
                </md-card-header>
                <!-- <md-card-title>
                    <span class="md-subhead">{{item.title}}</span>
                </md-card-title> -->

                <md-card-content layout-align="center center">
                    <h2>Цена: {{item.price*item.quant}}Ƀ </h2>
                    <p>Кол-во: {{item.quant}} </p>
                </md-card-content>

                <md-card-actions layout="column">

                    <md-button class="md-raised md-warn" ng-click="$ctrl.removeItem(item.id)">Удалить</md-button>

                </md-card-actions>

            </md-card>
        </div>
        <h1 class="md-display-1">Сумма: {{$ctrl.orderSum.sum}}Ƀ</h1>
        <md-button class="md-raised md-primary" ng-click="$ctrl.sendOrder()">Отправить</md-button>
    </md-content>
</div>