<md-progress-linear class="md-warn" md-mode="indeterminate" ng-disabled="user"></md-progress-linear>
<div ng-if="user">
    <md-content md-theme="docs-dark"  layout-padding>
        <h1>{{user.name}}</h1>
        <md-divider></md-divider>
        <md-input-container>
            <label>Статус</label>
            <md-select aria-label="status" ng-model="status" ng-change="changeListStatus(status)">
                <md-option ng-value="{{$index}}" ng-repeat="opt in statuses">{{opt}}</md-option>
            </md-select>
        </md-input-container>
    </md-content>
    <md-divider></md-divider>
    <md-content>
        <md-progress-linear class="md-warn" md-mode="indeterminate" ng-disabled="$ctrl.loaded"></md-progress-linear>
        <md-list flex>
            <md-list-item ng-if="!item.hide" layout="row" layout-align="center center" class="md-3-line" ng-repeat="item in $ctrl.order">
                <img ng-src="{{item.image}}?{{$index}}" class="md-avatar" alt="{{item.id}}" />
                <p> {{ item.title }} </p>
                <md-button ng-if="status<2" class="md-accent" ng-click="$ctrl.changeOrderStatus(item._id)">{{$ctrl.actBtn}}</md-button>
            </md-list-item>
        </md-list>
    </md-content>
</div>