<div ng-if="!user.loaded" layout="column">
    <md-content md-theme="docs-dark" layout-padding>
        <h1 class="md-display-2">Drone Cafe</h1>
        <!-- <h3 class="md-subhead">By Alex Loev</h3> -->
    </md-content>
    <div ng-cloak class="md-inline-form">
        <md-content md-theme="docs-dark" layout-padding>
            <div>
                <form name="userForm" layout="column">
                    <md-input-container>
                        <label>Имя</label>
                        <input ng-model="user.name" ng-required="true">
                    </md-input-container>

                    <md-input-container>
                        <label>E-mail</label>
                        <input ng-model="user.email" type="email" ng-required="true">
                    </md-input-container>

                    <md-input-container>
                        <label>Профиль</label>
                        <md-select ng-model="user.profile" ng-required="true">
                            <md-option ng-value="opt" ng-repeat="opt in $ctrl.profiles">{{ opt }}</md-option>
                        </md-select>
                    </md-input-container>

                    <md-button type="submit" class="md-primary" ng-click="$ctrl.signin()">Войти</md-button>
                </form>
            </div>
        </md-content>
    </div>
</div>